<div class="row">
    <div class="col-12 mt-2">
        <h2>Folyóiratok listája</h2>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title ">Összetett keresés</h3>
                <h6 class="card-title ">Szerző szerinti keresés</h6>
                <div class="d-flex p-2 mb-2">
                    <input [(ngModel)]="filterPhraseAuthor" class="form-control" type="text" placeholder="Keresés...">
                </div>
                <h6 class="card-title ">Cím szerinti keresés</h6>
                <div class="d-flex p-2 mb-2">
                    <input [(ngModel)]="filterPhraseTitle" class="form-control" type="text" placeholder="Keresés...">
                </div>
                <h6 class="card-title ">Kulcsszavak szerinti keresés</h6>
                <div class="d-flex p-2 mb-2">
                    <input [(ngModel)]="filterPhraseWord" class="form-control" type="text" placeholder="Keresés...">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-block" routerLink="/journal/0">
            Új folyóirat felvétele <i class="fa fa-book" aria-hidden="true" just fa></i>
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th id="h_id" class="header header-active" (click)="setSorting('id')">#</th>
                    <th id="h_cim" class="header" (click)="setSorting('cim')">Cím</th>
                    <th id="h_szerzok" class="header" (click)="setSorting('szerzok')">Szerzők</th>
                    <th id="h_kulcsszavak" class="header" (click)="setSorting('kulcsszavak')">Kulcsszavak</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let journals of journals$ | async | search:filterPhraseAuthor:filterKeyAuthor | search:filterPhraseTitle:filterKeyTitle| search:filterPhraseWord:filterKeyWord |sort:sortby">
                    <td>{{ journals.id }}</td>
                    <td>{{ journals.cim }}</td>
                    <td>{{ journals.szerzok }}</td>
                    <td>{{ journals.kulcsszavak }}</td>
                    <td>
                        <div class="btn-group">
                            <!-- <button [routerLink]="['user/' + journals.id]" class="btn btn-info">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="setDeleteJournal(journals)" rel="tooltip" title="Remove"
                  data-toggle="modal" data-target="#deleteModal">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>