<div class="row">
    <div class="col-12 mt-2">
        <h2 class="mb-4">Információs Társadalom keresője</h2>
        <div class="card embed-responsive">
            <div class="card-header">
                <nav class="navbar navbar-expand">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link" routerLink="/simple-search">Egyszerű keresés</a>
                        <a class="nav-item nav-link" routerLink="/complex-search">Összetett keresés</a>
                    </div>
                </nav>
                <h3 class="card-title ">Egyszerű keresés</h3>
                <div class="d-flex p-2 mb-2">
                    <input [(ngModel)]="filterPhraseAll" class="form-control" type="text" placeholder="Keresés...">
                </div>
            </div>
        </div>
        <table class="table table-striped embed-responsive">
            <thead class=" embed-responsive">
                <tr>
                    <th id="h_evfolyam" class="header text-center">Évfolyam</th>
                    <th id="h_ev" class="header text-center">Év</th>
                    <th id="h_lapszam" class="header text-center">Lapszám</th>
                    <th id="h_oldal" class="header text-center">Oldal</th>
                    <th id="h_szerzok" class="header text-center" (click)="setSorting('szerzok')">Szerzők</th>
                    <th id="h_cim" class="header text-center" (click)="setSorting('cim')">Cím</th>
                    <th id="h_lapszam" class="header text-center">DOI</th>
                </tr>
            </thead>
            <tbody class=" embed-responsive">
                <tr *ngFor="let journals of journals$ | async | search:filterPhraseAll:filterKey | sort:sortby">
                    <td>{{ journals.evfolyam }}</td>
                    <td>{{ journals.ev }}</td>
                    <td>{{ journals.lapszam }}</td>
                    <td>{{ journals.oldal }}</td>
                    <td>{{ journals.szerzok }}</td>
                    <td>{{ journals.cim }}</td>
                    <td><a routerLink = {{journals.DOI}} >{{ journals.DOI }}</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>